@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}
html{
  background-color: hsl(226, 43%, 10%);
}
.App{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

@media (max-width: 600px){
  .App{
    overflow: auto;
  }
}